<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="ch.elexis.Text">
      <Texterweiterung
            Klasse="ch.rgw.oowrapper.OOText"
            name="OpenOffice Wrapper"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.rgw.oowrapper.OOPrefs"
            id="ch.rgw.oowrapper.OOPrefs"
            name="OpenOffice.org"/>
   </extension>

</plugin>
