<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="ch.elexis.agenda.Views"
            class="ch.elexis.agenda.views.TagesView"
            icon="icons/calendar.png"
            id="ch.elexis.agenda.tagesview"
            name="Agenda"/>
      <view
            category="ch.elexis.agenda.Views"
            class="ch.elexis.agenda.views.AgendaGross"
            id="ch.elexis.agenda.largeview"
            name="Agenda gross"/>
      <view
            category="ch.elexis.agenda.Views"
            class="ch.elexis.agenda.ui.week.AgendaWeek"
            id="ch.elexis.agenda.week"
            name="Wochenanzeige">
      </view>
      <category
            id="ch.elexis.agenda.Views"
            name="Agenda">
      </category>
      <view
            allowMultiple="false"
            category="ch.elexis.agenda.Views"
            class="ch.elexis.agenda.ui.AgendaParallel"
            id="ch.elexis.agenda.parallelview"
            name="Parallelanzeige"
            restorable="true">
      </view>
      <view
            category="ch.elexis.agenda.Views"
            class="ch.elexis.agenda.ui.TerminListeView"
            id="ch.elexis.agenda.Terminliste"
            name="%Terminliste"
            restorable="true">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.elexis.agenda.preferences.AgendaDefinitionen"
            id="ch.elexis.Agendaprefs"
            name="Agenda"/>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.agenda.preferences.AgendaFarben"
            id="ch.Agendapref.colors"
            name="%Farben"/>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.agenda.preferences.AgendaImages"
            id="elexis-agenda.imageprefs"
            name="Agenda-Icons"/>
      <page
            category="ch.elexis.Agendaprefs"
            class="ch.elexis.agenda.preferences.AgendaDruck"
            id="ch.elexis.preferences.AgendaDruck"
            name="Druck">
      </page>
      <page
            category="ch.elexis.Agendaprefs"
            class="ch.elexis.agenda.preferences.Zeitvorgaben"
            id="ch.agendaprefs.zeiten"
            name="%Zeitvorgaben"/>
      <page
            category="ch.elexis.Agendaprefs"
            class="ch.elexis.agenda.preferences.Tageseinteilung"
            id="ch.elexis.agenda.tageseinteilung"
            name="%Tageseinteilung"/>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.agenda.preferences.AgendaAnzeige"
            id="ch.elexis.agenda.anzeige"
            name="%Ansicht"/>
      </extension>
      <extension
         point="ch.elexis.FremdDatenImport">
      <importer
            Class="ch.elexis.agenda.data.Import_Agenda"
            name="JavaAgenda - Importer"/>
   	</extension>
      <extension
            point="ch.elexis.ACLContribution">
         <ACLContribution
               ACLContributor="ch.elexis.agenda.acl.ACLContributor"
               name="elexis-agenda.ACLContribution"/>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <category
               id="ch.elexis.agenda.commands"
               name="Agenda Commands">
         </category>
         <command
               categoryId="ch.elexis.agenda.commands"
               defaultHandler="ch.elexis.agenda.commands.ExportCommand"
               description="Exportiere Termine nach iCal"
               id="ch.elexis.agenda.commands.export"
               name="export">
            <commandParameter
                  id="ch.elexis.agenda.param.resource"
                  name="resource"
                  optional="false">
            </commandParameter>
            <commandParameter
                  id="ch.elexis.agenda.param.from"
                  name="Date from"
                  optional="false">
            </commandParameter>
            <commandParameter
                  id="ch.elexis.agenda.param.until"
                  name="Date until"
                  optional="false">
            </commandParameter>
         </command>
      </extension>
      <extension
            point="ch.elexis.PersistentReference">
         <Factory
               Class="ch.elexis.agenda.data.TerminFactory"
               name="Termin">
         </Factory>
      </extension>
      <extension
            point="ch.elexis.DataAccess">
         <DataAccess
               class="ch.elexis.agenda.data.DataAccessor"
               name="Termin">
         </DataAccess>
      </extension>
   

</plugin>
