<?xml version="1.0"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="com.hilotec.elexis.messwerte.views.MessungenUebersicht"
            id="com.hilotec.elexis.messwerte.messwerteUebersicht"
            name="Messwerte">
      </view>
   </extension>
   <extension
         point="ch.elexis.PersistentReference">
      <Factory
            Class="com.hilotec.elexis.messwerte.data.MessungFactory"
            name="MessungFactory">
      </Factory>
   </extension>
   <extension
         point="ch.elexis.DataAccess">
      <DataAccess
            class="com.hilotec.elexis.messwerte.data.DataAccessor"
            name="Messwerte">
      </DataAccess>
   </extension>
   <extension
         point="com.hilotec.elexis.pluginstatistiken.Datenquelle">
      <Datenquelle
            class="com.hilotec.elexis.messwerte.data.PluginstatistikenDatenquelle"
            name="Messwerte">
      </Datenquelle>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.hilotec.elexis.messwerte.views.Preferences"
            id="com.hilotec.elexis.messwerte.preferences"
            name="Hilotec Messwerte">
      </page>
   </extension>
</plugin>

